html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #333333;
  margin: 0;
  padding: 0;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
